body {
  height: 500vh;
}
#container {
  /* position: relative; */
  border: solid 1px red;
  width: 40%;
  height: 300px;
  overflow: auto;
}

#container > img {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 520px;
  left: 1220px;
}
